.sidebar{
  display: flex;
  justify-content: space-evenly;
  border: 1px solid gray;
  background-color: gray;
}
a{
  color:black;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}
a:hover{
  font-weight: 700;
  text-decoration: underline;
  font-size: 18px;
}

